.banner-section{
    position: relative;
}

.banner-content{
    position: absolute;
    left: 430px;
    bottom: 340px;
}

.b-content{
    color: #fff;
    position: absolute;
    bottom: 336px;
    left: 396px;
    text-align: center;
}